@mixin page-grid {
  display: grid;
  column-gap: 2.4rem;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(12, 1fr);
  }
}

@media only screen and (min-width: 768px) {
  @for $col from 1 through 12 {
    @for $span from 1 through 12 {
      .col-#{$col}--span-#{$span} {
        grid-column: #{$col} / span #{$span};
      }
    }
  }
}
